.submit-button{
  margin-top:55%;
}

table{
  border:2px solid black;
  margin-top:1%;
}

td{
 width:150px;
  height:10%;
  border:1px black solid;
  text-align: center;
}

thead{
  text-align: center;
}

.delete-button:hover{
  border:2px solid blue;
  background-color:lightblue;
  color:red;
  cursor:pointer;
}

#todo-list-template{
  display:none;
}

.top-row{
  background-color: #748EA8;
  padding-bottom: 2%;
}

.input-row{
  background-color: #ADBDCE;
  padding-bottom: 5%;
}

body{
  background-color: #F2F3F4;
}